* {
    box-sizing: border-box;
}

.logo {
    position: absolute;
    width: 220px;
}

.login {
    min-height: 100vh;
}

.second-half {
    background-color: #f0f2fa;
}

.bg-image {
    background-image: url("./../../../../../assets/images/screen@2x.png");
    background-size: cover;
    background-position: center center;
}

h1 {
    font-size: 35px;
    font-style: bold 35px Poppins;
    line-height: 52px;
    color: #333333;
    font-weight: 900;
}

.team {
    width: 45%;
}

.control {
    width: 75%;
}


/*Input Design*/

.item {
    border-radius: 30px;
    height: 50px;
    font-family: "Popplins";
    width: 100%;
}


/* Placeholder text */

.item::placeholder {
    color: #333;
    opacity: 0.3;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    background-color: white;
}

.fas,
.far,
mat-icon {
    color: #333;
    opacity: 0.3;
}

.box {
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.box>i {
    font-size: 20px;
    color: #777;
}

.box>input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    background-color: white;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .box>input {
        font-size: 16px;
    }
}

@media screen and (min-width: 0px) and (max-width: 319px) {
    .box>input {
        font-size: 12px;
        width: 80%;
    }
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
    .container-xl {
        margin: 0;
        padding: 0;
    }
}

//Input background autocomplete
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}