<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-7 d-none d-md-flex bg-image">
            <div class="header-logo py-3 px-3">
                <a href="http://gts.az/" target="_blank">
                    <img src="http://gts.az/img/logo.svg" alt="Gts logo" class="logo" />
                </a>
            </div>
            <div class="d-flex align-items-center">
                <div class="container">
                    <img src="./../../../../../assets/images/TEAM.png" alt="Team" class="team" />
                    <br /><br />
                    <img src="./../../../../../assets/images/CONTROL.png" alt="Control" class="control" />
                </div>
            </div>
        </div>
        <!-- The second half -->
        <div class="col-md-5 second-half">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-10 mx-auto">
                            <form class="container-xl" [formGroup]="loginForm">
                                <h1 class="display-1 text-center">Login</h1>
                                <div class="box mb-3" *ngIf="loginForm.controls.email">
                                    <i class="far fa-envelope"></i>
                                    <input matInput type="text" class="item" placeholder="email" autocomplete="off" autocomplete="autocomplete_off_randString" formControlName="email">
                                </div>
                                <div class="row col-12 justify-content-center" [ngStyle]="{'margin-top': '-5px','margin-bottom': '10px'}" *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">
                                    <div class="text-danger" *ngIf="loginForm.controls.email.errors">
                                        Düzgün email daxil edin.
                                    </div>
                                </div>
                                <div class="box mb-3" *ngIf="loginForm.controls.password">
                                    <i class="fas fa-lock" aria-hidden="true"></i>
                                    <input [type]="hide ? 'password' : 'text'" class="item" placeholder="password" formControlName="password">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </div>
                                <div class="row col-12 justify-content-center" [ngStyle]="{'margin-top': '-5px','margin-bottom': '10px'}" *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
                                    <div class="text-danger" *ngIf="loginForm.controls.password.errors">
                                        Şifrə boş ola bilməz.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button mat-button class="custom-btn item" (click)="normalLogin()">Daxil ol</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Second Half-->
    </div>
</div>