<form [formGroup]="customerForm">
    <div class="new-customer row">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h1 class="tc-label">
                Yeni Müştəri
            </h1>
            <button mat-icon-button mat-dialog-close color="primary">
          <mat-icon>close</mat-icon>
        </button>
        </div>
        <div class="col-lg-6 col-12" *ngIf="customerForm.controls.name">
            <span class="form-label">Ad:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" formControlName="name">
            </mat-form-field>
            <div class="row col-12 justify-content-center" *ngIf="customerForm.controls.name.invalid && (customerForm.controls.name.dirty || customerForm.controls.name.touched)">
                <div class="text-danger" *ngIf="customerForm.controls.name.errors">
                    Ad boş ola bilməz.
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12" *ngIf="customerForm.controls.surname">
            <span class="form-label">Soyad:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" formControlName="surname">
            </mat-form-field>
            <div class="row col-12 justify-content-center" *ngIf="customerForm.controls.surname.invalid && (customerForm.controls.surname.dirty || customerForm.controls.surname.touched )">
                <div class="text-danger" *ngIf="customerForm.controls.surname.errors">
                    Soyad boş ola bilməz.
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12" *ngIf="customerForm.controls.position">
            <span class="form-label">Vəzifə:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" formControlName="position">
            </mat-form-field>
        </div>
        <div class="col-lg-6 col-12" *ngIf="customerForm.controls.email">
            <span class="form-label">Email:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" formControlName="email">
            </mat-form-field>
            <div class="row col-12 justify-content-center" *ngIf="customerForm.controls.email.invalid && (customerForm.controls.email.dirty || customerForm.controls.email.touched)">
                <div class="text-danger" *ngIf="customerForm.controls.email.errors">
                    Düzgün email daxil edin.
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12" *ngIf="customerForm.controls.phoneNumber">
            <span class="form-label">Telefon:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" formControlName="phoneNumber">
            </mat-form-field>
            <div class="row col-12 justify-content-center" *ngIf="customerForm.controls.phoneNumber.invalid && (customerForm.controls.phoneNumber.dirty || customerForm.controls.phoneNumber.touched)">
                <div class="text-danger" *ngIf="customerForm.controls.phoneNumber.errors">
                    Düzgün nömrə daxil edin.
                </div>
            </div>
        </div>
        <div *ngIf="!showSpinner" class="col-lg-6 col-12 d-flex justify-content-lg-end justify-content-center align-items-lg-end align-items-center" style="padding-bottom:10px; padding-top:10px">
            <button *ngIf="label=='new'" mat-button class="filter-btn" (click)="add_customer()" [disabled]="showSpinner">Əlavə et</button>
            <button *ngIf="label=='update'" mat-button class="filter-btn" (click)="add_customer()" [disabled]="showSpinner">Yadda saxla</button>
        </div>
        <div class="row col-lg-6 col-12 d-flex justify-content-lg-end justify-content-center align-items-lg-end align-items-center spinner-div" style="padding-bottom:10px; padding-top:10px" *ngIf="showSpinner">
            <button [disabled]="true" mat-button class="filter-btn">
              Əlavə et
          </button>
            <mat-spinner style="margin:7px;" [diameter]="40" class="spinner">
            </mat-spinner>
        </div>
    </div>
</form>
