<div class="container-fluid px-4" style="padding-bottom: 100px">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="tc-label">
            Layihələr
        </h1>
        <button mat-button class="new-btn clck-new-customer" (click)="openDialog('new', null)"><i class="fas fa-plus p-1"></i>Yeni Layihə</button>
    </div>
    <div class="customer-filter-pane row mb-3 px-5 py-4 align-items-center" [formGroup]="filterForm">
        <div class="col-lg-4 col-12 d-flex flex-column">
            <span class="form-label">Layihələr</span>
            <mat-form-field appearance="fill">
                <mat-select class="customer-component" placeholder="Seçin" formControlName="projectId">
                    <mat-option value=0>Seçin</mat-option>
                    <mat-option *ngFor="let project of projectsLookupArray" [value]="project.id">
                        {{project.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-12 d-flex flex-column">
            <span class="form-label">Layihə statusu</span>
            <mat-form-field appearance="fill">
                <mat-select class="customer-component" placeholder="Seçin" formControlName="projectStatusId">
                    <mat-option value=0>Seçin</mat-option>
                    <mat-option *ngFor="let status of statusArray" [value]="status.id">
                        {{status.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-3 col-12 d-flex flex-column">
            <span class="form-label">Layihə üzrə məsul şəxs</span>
            <mat-form-field appearance="fill">
                <mat-select class="customer-component" placeholder="Seçin" formControlName="teamLeaderId">
                    <mat-option value=0>Seçin</mat-option>
                    <mat-option *ngFor="let teamLeader of teamLeadersArray" [value]="teamLeader.id">
                        {{teamLeader.fullname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-2 col-12 pt-2 d-flex justify-content-center">
            <button mat-button class="filter-btn" (click)="filter_projects()">Filterlə</button>
        </div>
    </div>
    <div class="mat-elevation-z8" [ngClass]="{'d-none':showSpinner}">
        <table mat-table [dataSource]="dataSource" class="">
            <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="sd" [style.width]="'30%'">
                    Layihə adı
                </th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="sd3" [style.width]="'30%'">
                    Statusu
                </th>
                <td mat-cell *matCellDef="let element">
                    <mat-chip-list>
                        <mat-chip [ngStyle]="{'background-color':'rgba('+ element.status.split('?')[1].split(':')[0] +','+ element.status.split('?')[1].split(':')[1]+','+element.status.split('?')[1].split(':')[2]+','+'0.3'+')',
                        'color':'rgba('+element.status.split('?')[1].split(':')[0] +','+ element.status.split('?')[1].split(':')[1]+','+element.status.split('?')[1].split(':')[2]+')'}">
                            {{element.status.split('?')[0]}}
                        </mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>
            <ng-container matColumnDef="teamLeader">
                <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="sd3" [style.width]="'30%'">
                    Layihə üzrə məsul şəxs
                </th>
                <td mat-cell *matCellDef="let element">{{ element.teamLeader }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="sd1"> </th>
                <td mat-cell *matCellDef="let element; " style="text-align: right">
                    <a [matMenuTriggerFor]="menu" #menuTrigger style="color: #000000; cursor: pointer;" matTooltip="Seçimlər" class="pointer"><i class="fas fa-ellipsis-v"></i></a>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openDialog('update', element.id)"><i class="fas fa-pen"></i><span class="actions" >Düzənlə</span></button>
                        <button mat-menu-item (click)="add_employee_to_project('new', element.id)"><i class="fa-solid fa-user-plus"></i><span class="actions">Yeni şəxs əlavəsi</span></button>
                        <button mat-menu-item (click)="add_employee_to_project('update', element.id)"><i class="fa-solid fa-user-pen"></i><span class="actions">Şəxslərə düzəliş</span></button>
                        <button mat-menu-item [routerLink]="['/project-detail']" [queryParams]="{id:element.id}"><i class="fa-solid fa-circle-info"></i><span class="actions">Layihə detalları</span></button>
                        <button mat-menu-item (click)="delete_project(element.id)"><i class="fas fa-trash" style="color: #E91717;"></i><span class="actions">Deaktiv et</span></button>
                    </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator class="paginator-custom" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements" (page)="pageChanged($event)">
        </mat-paginator>
    </div>
    <div class="spinner-div" style="padding-bottom:10px; padding-top:10px" *ngIf="showSpinner">
        <mat-spinner style="margin:7px;" [diameter]="40" class="spinner">
        </mat-spinner>
    </div>
</div>
