footer {
    height: 40px;
    border-top: 1px solid #E0E1EA;
    width: 100%;
    float: right;
    padding: 10px 20px;
    color: #B9B9B9;
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
}

a.site-link {
    color: #B9B9B9;
}
