<form [formGroup]="salaryForm">
    <div class="new-customer row" [ngClass]="showAddVacationModal ? 'active': ''">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h1 class="tc-label" *ngIf="label=='new'">
                Yeni Maaş
            </h1>
            <h1 class="tc-label" *ngIf="label=='update'">
                Maaşı Düzənlə
            </h1>
            <button mat-dialog-close mat-icon-button color="primary">
              <mat-icon>close</mat-icon>
              </button>
        </div>
        <div class="col-12" *ngIf="salaryForm.controls.employeeId">
            <span class="form-label">Şəxs:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-select (selectionChange)="getsalary()"
                class="customer-component" formControlName="employeeId" placeholder="Seçin">
                    <mat-option value=0>Seçin</mat-option>
                    <mat-option *ngFor="let employee of employeeArray" [value]="employee.id">
                        {{employee.fullname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="row col-12 justify-content-center" *ngIf="salaryForm.controls.employeeId.invalid && (salaryForm.controls.employeeId.dirty || salaryForm.controls.employeeId.touched )">
                <div class="text-danger" *ngIf="salaryForm.controls.employeeId.errors">
                    Layihə üzrə rəhbər seçin.
                </div>
            </div>
        </div>

        <div class="col-12 filter-vacation-date" *ngIf="salaryForm.controls.date">
            <span class="form-label">Maaşın verilmə tarixi:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <input [matDatepicker]="picker" matInput autocomplete="off" formControlName="date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="row col-12 justify-content-center" *ngIf="salaryForm.controls.date.invalid && (salaryForm.controls.date.dirty || salaryForm.controls.date.touched)">
                <div class="text-danger" *ngIf="salaryForm.controls.date.errors?.required">
                    Maaşın verilmə tarixi boş ola bilməz.
                </div>
            </div>
        </div>


        <div class="col-12" *ngIf="salaryForm.controls.amount">
            <span class="form-label">Maaşın artmasının miqdarı:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" (input)="showvalue($event)" formControlName="amount" autocomplete="off" required>
            </mat-form-field>
            <div class="row col-12 justify-content-center" *ngIf="salaryForm.controls.amount.invalid && (salaryForm.controls.amount.dirty || salaryForm.controls.amount.touched)">
                <div class="text-danger" *ngIf="salaryForm.controls.amount.errors?.required">
                    Maaş boş ola bilməz.
                </div>
            </div>
        </div>

         <div class="col-12" *ngIf="salaryForm.controls.totalsal">
            <span class="form-label">Yeni maaş:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" autocomplete="off" formControlName="totalsal">
            </mat-form-field>
        </div> 
        <!-- <div class="col-12" *ngIf="label=='new'" >
            <span class="form-label">Yeni maaş:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" autocomplete="off" formControlName="totalsal">
            </mat-form-field>
        </div>

        <div class="col-12" *ngIf="label=='update'" >
            <span class="form-label">Yeni maaşss:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" autocomplete="off" formControlName="totalupdate">
            </mat-form-field>
        </div> -->



        <div *ngIf="!showSpinner" class="col-12 d-flex justify-content-lg-end justify-content-center align-items-lg-end align-items-center" style="padding-bottom:10px; padding-top:10px">
            <button *ngIf="label=='new'" mat-button class="filter-btn" (click)="add_salary()" [disabled]="showSpinner">Əlavə et</button>
            <button *ngIf="label=='update'" mat-button class="filter-btn" (click)="add_salary()" [disabled]="showSpinner">Yadda saxla</button>
        </div>
        <div class="row col-12 d-flex justify-content-lg-end justify-content-center align-items-lg-end align-items-center spinner-div" style="padding-bottom:10px; padding-top:10px" *ngIf="showSpinner">
            <button [disabled]="true" mat-button class="filter-btn">
            Əlavə et
        </button>
            <mat-spinner style="margin:7px;" [diameter]="40" class="spinner">
            </mat-spinner>
        </div>
    </div>
</form>