<form [formGroup]="projectStatusForm">
    <div class="new-project-status row">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h1 class="tc-label">
                Yeni Layihə Statusu
            </h1>
            <button mat-icon-button mat-dialog-close color="primary">
            <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="col-12" *ngIf="projectStatusForm.controls.name">
            <span class="form-label">Status:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" formControlName="name">
            </mat-form-field>
            <div class="row col-12 justify-content-center" *ngIf="projectStatusForm.controls.name.invalid && (projectStatusForm.controls.name.dirty || projectStatusForm.controls.name.touched )">
                <div class="text-danger" *ngIf="projectStatusForm.controls.name.errors">
                    Ad boş ola bilməz.
                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="projectStatusForm.controls.key">
            <span class="form-label">Key:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="text" formControlName="key">
            </mat-form-field>
            <div class="row col-12 justify-content-center" *ngIf="projectStatusForm.controls.key.invalid && (projectStatusForm.controls.key.dirty || projectStatusForm.controls.key.touched )">
                <div class="text-danger" *ngIf="projectStatusForm.controls.key.errors">
                    Key boş ola bilməz.
                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="projectStatusForm.controls.color">
            <span class="form-label">Rəng:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="color" formControlName="color" style="cursor: pointer; border-radius:20px">
            </mat-form-field>
            <div class="row col-12 justify-content-center" *ngIf="projectStatusForm.controls.color.invalid && (projectStatusForm.controls.color.dirty || projectStatusForm.controls.color.touched )">
                <div class="text-danger" *ngIf="projectStatusForm.controls.color.errors">
                    Rəng boş ola bilməz.
                </div>
            </div>
        </div>
        <div *ngIf="!showSpinner" class="col-12 d-flex justify-content-center align-items-lg-end align-items-center" style="padding-bottom:10px; padding-top:10px">
            <button *ngIf="label=='new'" mat-button class="filter-btn" (click)="add_project_status()" [disabled]="showSpinner">Əlavə et</button>
            <button *ngIf="label=='update'" mat-button class="filter-btn" (click)="add_project_status()" [disabled]="showSpinner">Yadda saxla</button>
        </div>
        <div class="row col-lg-6 col-12 d-flex justify-content-lg-end justify-content-center align-items-lg-end align-items-center spinner-div" style="padding-bottom:10px; padding-top:10px" *ngIf="showSpinner">
            <button [disabled]="true" mat-button class="filter-btn">
          Əlavə et
      </button>
            <mat-spinner style="margin:7px;" [diameter]="40" class="spinner">
            </mat-spinner>
        </div>
    </div>
</form>
